## Python: Lists and Tuples

- __Lists, tuples and strings are sequences__ (consecutive data) in Python Standard Libraries.

- Arguments (elements) are consecutive and have __index starting from zero.__

__1.List: concept, indexing, and slicing__

- Lists __typically store homogeneous data__ in order.

- However, they can store __heterogeneous data and mutable (modifiable)__

- Lists are denoted by square bracket [], in which data items (elements) are put

- A list's index for elements starts __form zero.__

In [3]:
list1 = [1, 2, 3,4,5, 6, 11, 'a', 'b']
print(type(list1), list1)

<class 'list'> [1, 2, 3, 4, 5, 6, 11, 'a', 'b']

In [6]:
print(list1[1], list1[7])
print(list1[2:5])
print(list1[:7])
print(list1[4:])
print(list1[-1])
print(list1[-4:])
print(list1[1+2:])  # index addition is possible

2 a
[3, 4, 5]
[1, 2, 3, 4, 5, 6, 11]
[5, 6, 11, 'a', 'b']
b
[6, 11, 'a', 'b']
[4, 5, 6, 11, 'a', 'b']

In [7]:
len(list1)

9

In [11]:
list1[6] = 'c'
print(list1)
#list1[9] 규격을 초과하기 때문에 에러 발생

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b']

In [13]:
list2 = []
for item in range(11, 14, 1):
    list2 += [item]
    # or list2.append(item)도 사용 가능
print(list2)

list3 = []
list3 += 'Python Kooc'
print(list3, len(list3))

list3 += ('M', 'O', 'O', 'C')
print(list3, len(list3))

[11, 12, 13]
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c'] 11
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c', 'M', 'O', 'O', 'C'] 15

In [14]:
list12 = list1 + list2
print(list12)

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

In [15]:
for i in range(len(list12)):
    print(f'({i}, {list12[i]})', end = ' ')

(0, 1) (1, 2) (2, 3) (3, 4) (4, 5) (5, 6) (6, c) (7, a) (8, b) (9, 11) (10, 12) (11, 13)

__2.Tuples__

- __Immmutable__ and typically store __heterogeneous data.__

- So, __datasets__ are often stored as tuples.

- Tuples are denoted by __parenthesis (), in which data are put.

In [18]:
t1 = 10 ,20, 30
t1 += (40, 50)
print(t1)

(10, 20, 30, 40, 50)

In [19]:
t2 = tuple([1, 2, 3, 4])
print(t2)
print(t2[2])
print(t2[:3])

(1, 2, 3, 4)
3
(1, 2, 3)

In [21]:
t3 = 'kim', 'park', 'kwon', [20, 50, 60]
print(t3, len(t3), t3[3]) 
t3[3][1] = 85 # list안에 있는 element를 뽑아내는 방법
print(t3)

('kim', 'park', 'kwon', [20, 50, 60]) 4 [20, 50, 60]
('kim', 'park', 'kwon', [20, 85, 60])

__3. Unpacking sequences: any sequence can be unpacked__

In [24]:
t4 = (('kim', 'park', 'kwon'), [80, 34, 56])
print(len(t4))
last_name, grades = t4
print(last_name, grades, type(last_name), type(grades))

grades1, grades2, grades3 = grades
print(grades1, grades2, grades3)

first, second, third, fourth = 'WIFI'
print(first, second, third, fourth)

2
('kim', 'park', 'kwon') [80, 34, 56] <class 'tuple'> <class 'list'>
80 34 56
W I F I

__4. Enumerate: A built-in function__

- for creating a list or tuple with index and element value.

In [27]:
colors = ['red', 'yellow', 'blue', 'black', 'white']
print(list(enumerate(colors)))
print(list(enumerate(colors)))

for index, color in enumerate(colors):
    print(f'{index}: {color}')

[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
0: red
1: yellow
2: blue
3: black
4: white

In [28]:
bar = [19, 8, 15, 2, 14]
print('Creating a bar chart:')
print(f'Index{"value":>8}   Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8}   {"*"*value}')

Creating a bar chart:
Index   value   Bar
    0      19   *******************
    1       8   ********
    2      15   ***************
    3       2   **
    4      14   **************

__5. Slicing with steps and modifying lists with slicing__

In [30]:
print(list12, len(list12))
print(list12[:])  #리스트 전체 카피와 같은 의미
print(list12[::2]) #마지막 숫자 2는 2씩 증분 하라는 뜻

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13] 12
[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[1, 3, 5, 'c', 'b', 12]

In [31]:
list12[0:3] = ['one', 'two', 'three']
print(list12)
list12[0:3] = []
print(list12)

['one', 'two', 'three', 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

__6. Deleting elements and lists__

In [32]:
del list12[-1]
print(list12)
del list12[::2]
print(list12)
del list12[:]
print(list12)

[4, 5, 6, 'c', 'a', 'b', 11, 12]
[5, 'c', 'b', 12]
[]

In [36]:
print(bar)
del bar
bar = [1, 2, 3, 4]
print(bar)

NameError: name 'bar' is not defined

__7. Sorting lists with sorting method__

In [38]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
numbers.sort() #올림차순으로 정리되는 함수
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [39]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
numbers.sort(reverse=True)
print(numbers)
numbers.reverse()
print(numbers)

[15, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [3]:
a_string = 'J I love you, and do you love me?'
a_string = a_string.split() # 단어 별로 리스트로 만드는 과정
print(a_string, type(a_string))
a_string.sort(key=len) # 길이를 통하여 정리
print(a_string, type(a_string))
b_string = sorted(a_string) #알파벳 순서대로 정리(같을시 길이로 정리된다 & 대문자먼저 정리되고 소문자가 정리된다)
print(b_string)

['J', 'I', 'love', 'you,', 'and', 'do', 'you', 'love', 'me?'] <class 'list'>
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love'] <class 'list'>
['I', 'J', 'and', 'do', 'love', 'love', 'me?', 'you', 'you,']

In [44]:
x = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
y = sorted(x) #오름차순 정렬
z = reversed(x) #정반대로 정렬
print(x)
print(y)
print(list(z))
print(x)

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]
[11, 15, 8, 9, 1, 6, 3, 4, 5, 2, 7]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

In [45]:
print(x.index(3))
print(12 in x)
print(12 not in x)
print('Love' in a_string) #대소문자 구분 된다!

4
False
True
False

In [46]:
print(a_string)
a_string.insert(3, 'him') #추가하는 데 위치 지정
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love']
['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love']

In [47]:
a_string.append('hate') #끝에 추가
print(a_string)
a_string.remove('him') #제거
print(a_string)

['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']

In [49]:
print(a_string+['I', 'and'])
a_string.extend(['I', 'and'])
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']

In [50]:
a_string.clear()
print(a_string)

[]

In [51]:
print(x)
x_copied = x.copy()
print(x_copied)
print(x.copy())

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

__9. List comprehensions__

In [1]:
list_range = list(range(0, 10, 2))
print(list_range)

list_com = [i for i in range(0, 10, 2)]
print(list_com)
list_con = [i for i in range(0, 10) if i % 2 !=0]
print(list_con)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [4]:
list_op = [i**2 for i in range(0, 10, 2)]
print(list_op)
list_up = [i.upper() for i in a_string]
print(list_up)

[0, 4, 16, 36, 64]
['J', 'I', 'DO', 'AND', 'YOU', 'ME?', 'LOVE', 'YOU,', 'LOVE']

In [12]:
list_gen = (i**2 for i in range(10) if i % 2 == 0) #range안에 기본적인 시작은 0
print(list_gen)
list_gen1 = [i + 4 for i in list_gen]
print(list_gen1)

<generator object <genexpr> at 0x0000028207F76660>
[4, 8, 20, 40, 68]

__10. lambda expression, map, and zip function__

In [13]:
list3 = list(range(0, 25))
print(list3)

def is_multiple3(x):
    """Return True if x is a multiple of 3"""
    return x % 3 == 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [14]:
list(filter(is_multiple3, list3))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [18]:
# lambda function: anonymous function, a function without a name 무명한 함수이며 한가지 입력만 받을 수 있다.
list4 = list(filter(lambda x: x % 3 == 0, list3))
list4

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [19]:
# map: mapping a new value to an existing value, a generator(lazy evaluation)
print(list(map(lambda x: x**2, list4)))
print([i**2 for i in list4])

[0, 9, 36, 81, 144, 225, 324, 441, 576]
[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [22]:
# combining filter and map
list(map(lambda x: x**2, filter(lambda x: x % 3 == 0, list3)))

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [23]:
# An alternative way
[x**2 for x in list3 if x % 3 == 0]

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [24]:
# key: ought to be a one parameter function and returns a value.
car = ['Santafe', 'Mini', 'Pony', 'Grandeur', 'Sonata', 'Excel', 'elantra']
car.sort(key=len)
print(car)
print(sorted(car))#
print(min(car), max(car))
max(car, key=lambda i: i.lower()) #대소문자 통일 시키는 방법

['Mini', 'Pony', 'Excel', 'Sonata', 'Santafe', 'elantra', 'Grandeur']
['Excel', 'Grandeur', 'Mini', 'Pony', 'Santafe', 'Sonata', 'elantra']
Excel elantra

'Sonata'

In [28]:
# zip: handles multiple iterables concurrently
players = ['Rye', 'Son', 'Park', 'Kwon']; goals = [3, 25, 14, 5]
for last_name, goal in zip(players, goals):
    print(f'{last_name:<4}: {goal:>2}')

Rye :  3
Son : 25
Park: 14
Kwon:  5

__11.Two and multi dimensional lists__

In [29]:
# Two dimensional list index: index_name[i][j], where i is row index,
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
print(a)
for row in a:
    for column in row:
        print(column, end = " ")
    print() # 줄바꿈 현상 생성

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
1 2 3 4
5 6 7 8
9 10 11 12