## Python Basics

__1. Correct indentation and strings__

In [1]:
print('This Kooc is an excellent course')
print("Course name \nis Practical Python")
print("Those who don't take this Kooc would regret their decisions")

This Kooc is an excellent course
Course name
is Practical Python
Those who don't take this Kooc would regret their decisions

In [2]:
# addition: using a hash(#) sign, you can write memos.
23+17

40

In [3]:
2/3

0.6666666666666666

In [4]:
x = 23; y = 17
x + y
print(x + y, x -y, x * y, x/y)

40 6 391 1.3529411764705883

In [5]:
x = 23, y = 17
x + y

SyntaxError: cannot assign to literal (2276112635.py, line 1)

In [6]:
y = 5
z = 7.5
print("y + z =", y + z)
print("z - y =", z - y)
print("y**2 =", y**2)
print("z//y =", z//y)
print('z%y =', z%y)
print(type(y))
print(type(z))

y + z = 12.5
z - y = 2.5
y**2 = 25
z//y = 1.0
z%y = 2.5
<class 'int'>
<class 'float'>

In [7]:
print(7 > 3)
print(3 > 7)
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [8]:
"""Triple quoted strings are used to write multiple line strings.
this is an example of a doc string."""

'Triple quoted strings are used to write multiple line strings.\nthis is an example of a doc string.'

In [10]:
your_name = input('What is your name?')
print(your_name)

What is your name? dico

dico

In [11]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 15

15 <class 'str'>

In [12]:
my_age = input('How old am I')
print(your_age+my_age)

How old am I 52

1552

In [13]:
print(int(your_age)+int(my_age))
int(21.8)

67

21

In [14]:
print(float(your_age)+int(my_age))

67.0

__6. if clause and comparison operators__

[comparsion operators] = 비교 연산자

In [19]:
x = int(input('Enter an integer'))

if x == 1:
    print('x has a value of 1')
else:
    print('x does not have a value of 1')

Enter an integer 1

x has a value of 1

In [21]:
var1 = int(input('Enter the first integer'))
if var1 < 0:
    print('The first integer is ', var1, 'and its value is negative.')

var2 = int(input('inter the second integer'))
if var2 < 0:
    print("The second integer is negative", "and its value is ", var2)
else:
    print("The second integer is positive", "and its value is ", var2)

Enter the first integer -1

The first integer is  -1 and its value is negative.

inter the second integer 12

The second integer is positive and its value is  12

__7.Dynamic value assignment and type changing__

● What happens if you assign different values for the same variable?

In [24]:
print(x, type(x))

x = 2.5
print(x, type(x))

x = 'Arnold'
print(x, type(x))

1 <class 'int'>
2.5 <class 'float'>
Arnold <class 'str'>

__8.Multiple statements on a single line__

● separate two command lines with semicoln

In [28]:
print("Hello!"); print("This is KOOC content \nfor Python basics.")

Hello!
This is KOOC content
for Python basics.